<div class="row" *ngIf="stacked">
	<chart [options]="options"></chart>
</div>
<div class="row"*ngIf="lined">
	<chart [options]="optionsForLine"></chart>
</div>

<div class="container" *ngIf="showLegand" align="center">
		<div id="unique" class="row">
		<div class="col-3 col-md-3 col-lg-3 col-sm-3 col-xs-3">
			<button type="button" class="btn btn-warning btn-sm">
				<span class="glyphicon glyphicon-equalizer material-icons color_green"></span> Engaged Member
			</button>
		</div>
		<div class="col-3 col-md-3 col-lg-3 col-sm-3 col-xs-3">
			<button type="button" class="btn btn-danger btn-sm">
				<span class="glyphicon glyphicon-equalizer material-icons color_red"></span> Immediate Attention
				Required
			</button>
		</div>
		<div class="col-3 col-md-3 col-lg-3 col-sm-3 col-xs-3">
			<button type="button" class="btn btn-success btn-sm">
				<span class="glyphicon glyphicon-equalizer material-icons color_green"></span> Needs Attention
			</button>
		</div>
	
	<!-- <span>
		<i class="material-icons" style="color:#258e25!important;font-size: 15px!important">fiber_manual_record</i>
		Engaged Member</span>&nbsp;
	<span>
		<i class="material-icons" style="color:#cc0000!important;font-size: 15px!important">fiber_manual_record </i>
		Immediate Attention Required
	</span>&nbsp;
	<span>
		<i class="material-icons" style="color:#cccc00!important;font-size: 15px!important"> fiber_manual_record </i>
		Needs Attention
	</span>&nbsp; -->
	<div class="col-3 col-md-3 col-lg-3 col-sm-3 col-xs-3">
			<button *ngIf="show" mat-button color="primary" (click)="back()">
				<span class="glyphicon glyphicon-equalizer material-icons color_blue"></span> Back
			</button>
		</div>
	</div>
</div>